---
/**
 * CardHeader.astro
 * 
 * Componente para el encabezado de la tarjeta
 * Basado en el diseño de shadcn/ui
 */

 interface Props {
  className?: string;
  padding?: boolean;
}

const { 
  className = '',
  padding = true
} = Astro.props;

const classes = [
  padding ? 'p-6' : '',
  'flex flex-col space-y-1.5',
  className
].filter(Boolean).join(' ');
---

<div class={classes}>
  <slot />
</div>