---
/**
 * CardDescription.astro
 * 
 * Componente para la descripción de la tarjeta
 * Basado en el diseño de shadcn/ui
 */

 interface Props {
  className?: string;
}

const { className = '' } = Astro.props;

const classes = [
  'text-sm text-gray-600 font-light',
  className
].filter(Boolean).join(' ');
---

<p class={classes}>
  <slot />
</p>